
/* Normalize */

[data-panel=seo] + div input[type=radio] {
    width: 0px;
}

[data-panel=seo] + div input[type=radio]:before {
    content: unset;
}

/* Indents */

.howto {
    padding: 0 10px 10px;
}

.compat-field-post_target input {
    position: absolute;
}

.compat-field-post_target lable {
    padding-left: 28px;
    display: block;
    padding-top: 8px;
}